---
import type { Job } from "../types/job";
const {data} = Astro.props as {data: Job};
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-full relative">
     <div class="pb-10 mx-12 flex flex-col md:flex-row gap-5 dark:text-white text-[#1F2937]">
     <div class="absolute left-2 border h-full opacity-70"></div>
     <span class="text-lime-600 dark:text-lime-500 absolute rounded-full text-5xl left-[2.5px] top-0">•</span>
          <div class="flex flex-col  md:w-[40%]">
               <h3 class="text-xl font-extrabold leading-6 text-lime-600 dark:text-lime-500">{data?.jobTitle?.[lang]}</h3>
               <a href={data.linkCompany} target="_blank" class="flex flex-row items-center gap-1 hover:dark:text-white hover:dark:text-opacity-50 hover:text-opacity-50  group">
                    <span class="text-lg  font-bold group-hover:opacity-50">{data.company}</span>
                    <Icon name="mdi:arrow-top-right" class="dark:text-white text-sm group-hover:translate-x-[2px] group-hover:-translate-y-[2px]  transition-transform duration-200 opacity-50"/>
               </a>
               <time class="text-sm font-ligth">{data?.startDate?.[lang]} - {data?.endDate?.[lang]}</time>
          </div>
          <div class="flex flex-col gap-2 md:w-[60%]">
               <p class="font-ligth text-lg">{data?.description?.[lang]}</p>
               {
                    data.evidence && data.evidence !== "" && data.evidence !== null &&
                    data.evidence !== undefined ? (
                    <a href={data.evidence} target="_blank" class="text-lime-700 dark:text-lime-500 font-bold w-fit">{t("b.knowMore")} ></a>
                    ) : null 
               }
          </div>
     </div>
</div>    