---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';

interface Props {
    title: string;
    lang: string;

}

const { title, lang} = Astro.props;



---

<!doctype html>
<html class="font-dosis" lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Explora el portafolio de Esteban para ver sus proyectos destacados de desarrollo web. ¡Convierte tus ideas en realidad y déjate inspirar!" />
          <meta name="keywords" content="Esteban, ImEsteban, Estebanbss.dev, Developer, Desarrollador, Frontend Developer, Desarrollador Frontend, Fullstack, Fullstack Developer, Desarrollador Fullstack, Portafolio Esteban, Esteban Barrera, Juan Esteban Portafolio, Esteban Barrera's Page, Esteban's page, Desarrollo web, web design, Web development"/>
          <meta name="author" content="Esteban Barrera"/>
          <meta property="og:title" content={title}/>
          <meta property="og:description" content="Explora el portafolio de Esteban para ver sus proyectos destacados de desarrollo web. ¡Convierte tus ideas en realidad y déjate inspirar!"/>
          <meta property="og:url" content="https://estebanbss.dev"/>
          <meta property="og:owners" content="Esteban Barrera"/>
          <meta property="og:image" content="/icon.svg"/>
		<meta name="viewport" content="width=device-width" />
          <meta name="theme-color" content="#031700"/>
          <meta name="robots" content="index, follow"/>
          <meta name="url" content="https://estebanbss.dev"/>
          <meta name="twitter:card" content="summary_large_image"/>
          <meta name="audience" content="all"/>
          <meta name="language" content={lang}/>
          <meta name="revisit-after" content="1 day"/>
          <link
          rel="preload"
          href="/fonts/dosis-latin-500-normal.woff"
          as="font"
          type="font/woff2"
          crossorigin
        />
        <link
          rel="preload"
          href="/fonts/dosis-latin-700-normal.woff"
          as="font"
          type="font/woff2"
          crossorigin
        />
        <link
          rel="preload"
          href="/fonts/dosis-latin-800-normal.woff"
          as="font"
          type="font/woff2"
          crossorigin
        />
		<link media="all" rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          
	</head>
          
	<body class="dark:bg-neutral-900 bg-white ">
          <div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
          bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(225,255,217,0.5),rgba(255,255,255,0.5))]
          dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(23,37,25,1),rgba(23,23,23,1))]"></div>
          <Header/>
          <slot />
          <Footer/>
	</body>
</html>

<style is:global>

:root{
     color-scheme: light dark;

}

html{
     scroll-behavior: smooth;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}


 /* Ahora hacemos un scroll sin background ni nada y que sea redondito y thin */
 ::-webkit-scrollbar-corner { background: none; }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #909596;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #757a7b;
}
</style>
<script is:inline defer>
     function cargarGoogleTagManager() {
         var script = document.createElement('script');
         script.src = 'https://www.googletagmanager.com/gtag/js?id=G-VDHWF5ZRSG';
         script.async = true;
         document.head.appendChild(script);
         script.onload = function() {
             window.dataLayer = window.dataLayer || [];
             function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());
             gtag('config', 'G-VDHWF5ZRSG');
         };
     }
     document.addEventListener('DOMContentLoaded', cargarGoogleTagManager);
 </script>
 